RewriteEngine On
	RewriteBase /cms/public/
		RewriteRule ^pages/(.*)$ pages.php?page_value=$1 [L,QSA]
		RewriteRule ^readmore/(.*)$ readmore.php?post_id=$1 [L,QSA]
		RewriteRule ^images/(.*)$ image-page.php?page_id=$1 [L,QSA]
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^([^\.]+)$ $1.php [NC,L]
		RewriteRule ^$ index.php [L,QSA]
		




	
